---
layout: base.njk
title: Apps
section: apps
permalink: /apps/
description: The Android apps 1n1 makes.
---
<h1>Apps</h1>
<ul class="applist">
{% for app in collections.apps %}<li class="app">
<img class="appicon" src="{{ app.data.icon }}" alt="" width="56" height="56">
<div>
<h2 class="h3"><a href="{{ app.url }}">{{ app.data.name }}</a></h2>
<p>{{ app.data.summary }}</p>
<p class="status">{{ app.data.status }}</p>
</div>
</li>
{% endfor %}</ul>
