---
layout: base.njk
title: Page not found
permalink: /404.html
eleventyExcludeFromCollections: true
---
<h1>Page not found</h1>
<p>That page doesn't exist. Try the <a href="/apps/">apps</a> or the <a href="/">home page</a>.</p>
