---
layout: base.njk
title: Contact
section: contact
permalink: /contact/
description: How to reach 1n1.
---
<h1>Contact</h1>
<p class="big"><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
<p>Questions, bugs and ideas about any 1n1 app all go to this address.</p>
